service: <%= name %>
provider:
  name: aws
  region: <%= region %>
  runtime: nodejs6.10
  stage: develop
  environment: '${file(.env.yml):${self:custom.stage}}'
custom:
  stage: '${opt:stage, self:provider.stage}'
package:
  exclude:
    - .vscode/**
    - docs/**
    - templates/**
    - tests/**
    - .editorconfig
    - .env.yml
    - .env.yml.example
    - .eslintrc.js
functions:
  authorizer-jwt:
    handler: functions/aws-authorizer-jwt/handler.handler
    description: Authorizer for JWT integration using AWS
  firebase-authorizer-jwt:
    handler: functions/firebase-authorizer-jwt/handler.handler
    description: Authorizer for JWT integration using Firebase
resources:
  Resources:
    ApiGatewayRestApi:
      Type: 'AWS::ApiGateway::RestApi'
      Properties:
        Name: '<%= name %> serverless api (${self:custom.stage})'
